.player {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(182, 179, 164);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    // margin-bottom: 12px !important;
    
    span {
        font-size: 24px;
        font-weight: bold;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange;
}