<app-player (click)="editPlayer(i)" *ngFor=" let player of game.players; let i = index;"
    class="player-position hide-desktop" [playerActive]="i == game.currentPlayer" [ngStyle]="{'top.px': 20 + (i * 60)}"
    [name]="player" [image]="game.player_images[i]"></app-player>


<div class="scroll-container hide-mobile">
    <app-player-mobile (click)="editPlayer(i)" *ngFor=" let player of game.players; let i = index;"
        [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.player_images[i]"></app-player-mobile>
</div>


<div *ngIf="gameOver" class="gameOver">
    <img src="assets/img/game-over.jpg">
</div>


<img *ngIf="!gameOver" class="preloadImg" src="assets/img/Cards/{{ game.stack[game.stack.length - 1] }}.png">

<div class="field" *ngIf="!gameOver">
    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/Cards/card_cover.png">
        <img (click)="takeCard()" style="right: 25px;" class="top-card" src="assets/img/Cards/card_cover.png">

        <!-- Stack for played cards -->
        <!-- Die Variable Card wird nur hier definiert und verwendet, die Variable Card bei Game info hat nichts mit dieser Card zu tun -->
        <img *ngFor="let card of game.playedCard" src="assets/img/Cards/{{ card }}.png" class="played-card">

        <!-- Current card animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" style="right: 25px;" class="pick-card"
            src="assets/img/Cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>